
*.props
Qualco3/.vs/Qualco3/v15/.suo
Qualco3/.vs/Qualco3/v15/sqlite3/storage.ide
Qualco3/Qualco3/obj/Debug/netcoreapp2.0/Qualco3.csproj.CoreCompileInputs.cache
Qualco3/Qualco3/obj/project.assets.json
Qualco3/Qualco3/obj/Qualco3.csproj.nuget.g.props
