@{
    ViewData["Title"] = "Επικοινωνία";
}

<br />
<div class="col-xs-12" center>
    <h4>@ViewData["Message"]</h4>
            </div>

<br />
<br />
<br />
<div class="col-xs-4" center>
    <div class="notice">
        <p>
            <address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>
        </p>
    </div>
    </div>

