<div class="col-xs-12">
    <h2>Καλωσορίσατε</h2>
    <br />
    <dl>

        <dd>
            Στο portal του ΔeΜΟΤΗΣ μπορείς να πληρώσεις με ευκολία τις οφειλές στον δήμο σου online άμεσα και εύκολα!
        </dd>
    </dl>
</div>
