
@using Microsoft.AspNetCore.Identity
@using Db.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<html>
<body>

    @if (!@User.IsInRole("Admin"))
    {
    <div class="row">
        <div class="col-xs-5">
            <div class="box box-info">
                <div class="box-header">
                    <h3>Καλωσορίσες!</h3>
                    <br />
                    <h>Στο portal του ΔeΜΟΤΗΣ μπορείς:</h>
                </div>
                <div class="box-body">
                    <ul class="todo-list">
                        <li>
                            <span class="fa fa-check"><span class="text">Να πληροφορηθείς για τις οφειλές στον δήμο σου</span></span>
                        </li>
                        <li>
                            <span class="fa fa-check"><span class="text">Να πληρώσεις με ευκολία τις οφειλές σου</span></span>
                        </li>
                        <li>
                            <span class="fa fa-check"><span class="text">Να αιτηθείς διακανονισμό των οφειλών σου</span></span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    }
    else
    {
    <div class="row">
        <div class="col-xs-5">
            <div class="box box-info">
                <div class="box-header">
                    <h2>Διαχείριση Αρχείων</h2>
                    
                </div>
            </div>
        </div>
    </div>
    }


</body>
</html>