@model Db.Models.BillSelectionViewModel

@{
    ViewBag.Title = "Bills";
}

@using (Html.BeginForm("SubmitSelected", "Bills", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
    <div class="col-xs-12">
                  <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>Λογαριασμοί</h4>
                </div>
                <div class="panel-body">
                    <table class="table table-hover" id="dev-table">
                        <thead>
                            <tr>
                                <th>
                                </th>
                                <th>
                                    Είδος
                                </th>
                                <th>
                                    Ημερομηνία Λήξης
                                </th>
                                <th>
                                    Ποσό
                                </th>
                                <th>
                                    Κατάσταση
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @Html.EditorFor(model => model.Bills)
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    <div class="col-xs-12">

        
            <div class="panel notice-warning">
                <table class="table table-striped" id="dev-table">
                    <tbody>
                        <tr>
                            <th>
                                Συνολικό ποσό λογαριασμών
                            </th>

                            <th>
                                @Html.DisplayFor(model => model.TotalAmount)
                            </th>
                        </tr>
                    </tbody>
                </table>
            </div>
            </div>
    

    <button type="submit" class="btn btn-warning"><i class="fa fa-bank"></i>   Αίτημα Διακανονισμού</button>
}



<script type="text/javascript">

    var countChecked = function () {
        var n = $("input:checked").length;
        // alert((n + (n === 1 ? " is" : " are") + " checked!"));
        return n;
    };
    //countChecked();

    $('#myForm').submit(function () {

        if (countChecked() == 0) {
            alert('Πρέπει να επιλέξετε έστω εναν λογαριασμό για να προχωρήσετε σε διακανονισμό');
            return false;
        }

    });

</script>