@model Db.Models.BillSelectionViewModel
@{
    ViewBag.Title = "Οι Λογαριασμοί μου";
}
@using (Html.BeginForm("SubmitSelected", "Bills", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{

    <div class="row">
        <div class="col-xs-8">
            <section>
                <div class="box box-info">
                    <div class="box-body ">
                        <table class="table table-condensed">
                            <tr>
                                <th></th>
                                <th>
                                    Είδος
                                </th>
                                <th>
                                    Ημερομηνία Λήξης
                                </th>
                                <th>
                                    Ποσό
                                </th>
                                <th>
                                    Κατάσταση
                                </th>
                            </tr>
                            <tbody>
                                @Html.EditorFor(model => model.Bills)
                            </tbody>
                        </table>
                    </div>

                    <div class="box box-warning">
                        <table class="table table-hover" id="dev-table">
                            <tbody>
                                <tr>
                                    <th>
                                        Σύνολο απλήρωτων λογαριασμών:       @Html.DisplayFor(model => model.TotalAmount)€
                                    </th>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </div>


    <div class="col-xs-4">
        <br />
        <button type="submit" class="btn btn-info"><i class="fa fa-bank"></i>   Αίτηση Διακανονισμού</button>
    </div>

}




<script type="text/javascript">

    var countChecked = function () {
        var n = $("input:checked").length;
        // alert((n + (n === 1 ? " is" : " are") + " checked!"));
        return n;
    };
    //countChecked();

    $('#myForm').submit(function () {

        if (countChecked() == 0) {
            alert('Πρέπει να επιλέξετε έστω εναν λογαριασμό για να προχωρήσετε σε διακανονισμό');
            return false;
        }

    });

</script>
