@model Db.Models.BillSelectionViewModel

@{
    ViewBag.Title = "Bills";
}

<h2>Bills</h2>

@using (Html.BeginForm("SubmitSelected", "Bills", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" ,id="myForm"}))
{
    <html>
    <head>
    </head>
    <body>
        <div class="container">
            <div class="row col-md-18 col-md-offset-0 custyle">
                <table class="table table-striped custab">
                    <thead>
                        <tr>
                            <th>
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Due Date
                            </th>
                            <th>
                                Amount
                            </th>
                        </tr>
                    </thead>

                    @Html.EditorFor(model => model.Bills)
                </table>
               <dt>
                @Html.DisplayNameFor(model => model.TotalAmount)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TotalAmount)
                </dd>
            </div>
        </div>
    </body>
</html>
    <hr />
    <br />
    <button type="submit" class="btn btn-primary" name="operation" id="sumbit">Submit Selected</button>
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript">

    var countChecked = function () {
        var n = $("input:checked").length;
       // alert((n + (n === 1 ? " is" : " are") + " checked!"));
        return n;
    };
    //countChecked();

    $('#myForm').submit(function () {
       
        if (countChecked() == 0)
        {
            alert('Πρέπει να επιλέξετε έστω εναν λογαριασμό για να προχωρήσετε σε διακανονισμό');
            return false;
        }
       
    });

    </script>