@model Db.Models.BillSelectionViewModel

@{
    ViewBag.Title = "Bills";
}

<h2>Bills</h2>

@using (Html.BeginForm("SubmitSelected", "Bills", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
    <table class="table">
        <tr>
            <th>
            </th>
            <th>
                Amount
            </th>
            <th>
                Due Date
            </th>
            <th>
                Bill Description
            </th>
            <th>
                Status
            </th>
        </tr>
        @Html.EditorFor(model => model.Bills)
    </table>
    <hr />
    <input type="submit" name="operation" id="submit" value="Request Settlement" />
}