@model Db.Models.BillSelectionViewModel

@{
    ViewBag.Title = "Bills";
}

<h2>Bills</h2>

@using (Html.BeginForm("SubmitSelected", "Bills", FormMethod.Post, new { encType = "multipart/form-data", name = "myform" }))
{
    <table class="table">
        <tr>
            <th>
                Select
            </th>
            <th>
                Name
            </th>
            <th></th>
        </tr>
        @Html.EditorFor(model => model.Bills)
    </table>
    <hr />
    <br />
    <button type="submit" class="btn btn-primary" name="operation" id="sumbit">Submit Selected</button>
}