@model Db.Models.BillSelectionViewModel

@{
    ViewBag.Title = "Bills";
}


@using (Html.BeginForm("SubmitSelected", "Bills", FormMethod.Post, new { encType = "multipart/form-data", name = "myform", id = "myForm" }))
{
    <html>
    <body>

        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Λογαριασμοί</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th> </th>
                                    <th>Είδος</th>
                                    <th>Ημερομηνία Λήξης</th>
                                    <th>Ποσό</th>
                                </tr>
                            </thead>

                            @Html.EditorFor(model => model.Bills)

                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel notice-warning">
            <table class="table table-hover" id="dev-table">
                <tbody>
                    <tr>
                        <th>
                            Συνολικό ποσό λογαριασμών
                        </th>

                        <th>
                            @Html.DisplayFor(model => model.TotalAmount)
                        </th>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
    <button type="submit" class="btn btn-primary btn-sm" name="operation" id="sumbit">New Settlement</button>
    }

<hr />
<hr />
<div class="col-md-4">
    <div class="box collapsed-box">
        <div class="box-header with-border">
            <i class="fa fa-info"></i>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
            <h3 class="box-title">Information</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <dl>
                <dt>Direct Payment</dt>
                <dd>Use the buttons next to each bll you want to pay.</dd>
                <dt>Settlements</dt>
                <dd>1. Select the bills you want to set a new settlement.</dd>
                <dd>2. Select "New Settlement" butons</dd>
            </dl>
        </div>
    </div>
</div>




    <script type="text/javascript">

        var countChecked = function () {
            var n = $("input:checked").length;
            // alert((n + (n === 1 ? " is" : " are") + " checked!"));
            return n;
        };
        //countChecked();

        $('#myForm').submit(function () {

            if (countChecked() == 0) {
                alert('Πρέπει να επιλέξετε έστω εναν λογαριασμό για να προχωρήσετε σε διακανονισμό');
                return false;
            }

        });

    </script>
