
@{
    ViewData["Title"] = "NoBillsView";
}

<br />
<br />
<html>
<body>
    <div style="color:coral;font-size:large;">Δεν υπάρχουν εκκρεμείς λογαριασμοί!</div>

    <div>
        <a asp-action="Index" asp-controller="Home">Back</a>
    </div>
</body>
</html>


