@model Db.Models.SubmitSelected
@{
    ViewData["Title"] = "SubmitSelected";
}

<hr />
<h2>Το σύνολο του ποσού είναι: <span class="label label-default">$ @Html.DisplayFor(model => model.TotalAmount)</span></h2>
<hr />
<br />

@foreach (var item in Model.Bills)
{
    <table>
        <thead>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bill_description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            </tr>
        </tbody>
    </table>
 
}
<br />
<button type="button" class="btn btn-primary">Pay</button>  
<button type="button" class="btn btn-primary">Request Settlement</button> |
<a asp-action="Index">Back to List</a>



