@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model Db.Models.AccountViewModels.LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{

    Layout = "";
}


<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <title>Σύνδεση</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="~/lib/jquery/dist/jquery.js"></script>



    <style>
        /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */
        body {
            font-family: "Open Sans", sans-serif;
            height: 100vh;
            background: url("https://i.imgur.com/HgflTDf.jpg") 50% fixed;
            background-size: cover;
        }

        @@keyframes spinner {
            0% {
                transform: rotateZ(0deg);
            }

            100% {
                transform: rotateZ(359deg);
            }
        }

        * {
            box-sizing: border-box;
        }

        .wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            width: 100%;
            min-height: 100%;
            padding: 20px;
            background: rgba(4, 40, 68, 0.85);
        }

        .login {
            border-radius: 2px 2px 5px 5px;
            padding: 10px 20px 20px 20px;
            width: 90%;
            max-width: 320px;
            background: #ffffff;
            position: relative;
            padding-bottom: 80px;
            box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3);
        }

            .login.loading button {
                max-height: 100%;
                padding-top: 50px;
            }

                .login.loading button .spinner {
                    opacity: 1;
                    top: 40%;
                }

            .login.ok button {
                background-color: #8bc34a;
            }

                .login.ok button .spinner {
                    border-radius: 0;
                    border-top-color: transparent;
                    border-right-color: transparent;
                    height: 20px;
                    animation: none;
                    transform: rotateZ(-45deg);
                }

            .login input {
                display: block;
                padding: 15px 10px;
                margin-bottom: 10px;
                width: 100%;
                border: 1px solid #ddd;
                transition: border-width 0.2s ease;
                border-radius: 2px;
                color: #ccc;
            }

                .login input + i.fa {
                    color: #fff;
                    font-size: 1em;
                    position: absolute;
                    margin-top: -47px;
                    opacity: 0;
                    left: 0;
                    transition: all 0.1s ease-in;
                }

                .login input:focus {
                    outline: none;
                    color: #444;
                    border-color: #2196F3;
                    border-left-width: 35px;
                }

                    .login input:focus + i.fa {
                        opacity: 1;
                        left: 30px;
                        transition: all 0.25s ease-out;
                    }

            .login a {
                font-size: 0.8em;
                color: #2196F3;
                text-decoration: none;
            }

            .login .title {
                color: #444;
                font-size: 1.2em;
                font-weight: bold;
                margin: 10px 0 30px 0;
                border-bottom: 1px solid #eee;
                padding-bottom: 20px;
            }

            .login button {
                width: 100%;
                height: 100%;
                padding: 10px 10px;
                background: #2196F3;
                color: #fff;
                display: block;
                border: none;
                margin-top: 20px;
                position: absolute;
                left: 0;
                bottom: 0;
                max-height: 60px;
                border: 0px solid rgba(0, 0, 0, 0.1);
                border-radius: 0 0 2px 2px;
                transform: rotateZ(0deg);
                transition: all 0.1s ease-out;
                border-bottom-width: 7px;
            }

                .login button .spinner {
                    display: block;
                    width: 40px;
                    height: 40px;
                    position:absolute;
                    border: 4px solid #ffffff;
                    border-top-color: rgba(255, 255, 255, 0.3);
                    border-radius: 100%;
                    left: 50%;
                    top: 0;
                    opacity: 0;
                    margin-left: -20px;
                    margin-top: -20px;
                    animation: spinner 0.6s infinite linear;
                    transition: top 0.3s 0.3s ease, opacity 0.3s 0.3s ease, border-radius 0.3s ease;
                    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
                }

            .login:not(.loading) button:hover {
                box-shadow: 0px 1px 3px #2196F3;
            }

            .login:not(.loading) button:focus {
                border-bottom-width: 4px;
            }

    </style>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

</head>
<body>
    <div class="wrapper">
        <form id="login" class="login" method="post">

            <p class="title">ΔeΜΟΤΗΣ <small>portal</small></p>
            <div asp-validation-summary="All" class="text-danger" id="error" style="color:crimson"></div>
            <br />
            
            <div class="form-group">
                <span asp-validation-for="Email" class="text-danger" style="color:crimson"></span>
                <input asp-for="Email" type="text" class="form-control" id="Email" placeholder="Email" autofocus />
                <i class="fa fa-user"></i>
            </div>

            <div class="form-group">
                <span asp-validation-for="Password" class="text-danger" style="color:crimson"></span>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <i class="fa fa-key"></i>
            </div>

            <div class="form-group">
                <label asp-for="NewPswd1" id="NewPswd1lb"></label>
                <input asp-for="NewPswd1" class="form-control" />
                <span asp-validation-for="NewPswd1" class="text-danger" style="color:crimson"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPswd2" id="NewPswd2lb"></label>
                <input asp-for="NewPswd2" class="form-control" />
                <span asp-validation-for="NewPswd2" class="text-danger" style="color:crimson"></span>
            </div>

            <div class="form-group">
                <input asp-for="Flag"  type="hidden" class="form-control" />
            </div>

            <div class="form-group">
                <label asp-for="Error" class="text-danger" />
            </div>
                      
                <button type="submit" onclick="Login1()">
                    <i class="spinner"></i>
                    <span class="state">Log In</span>
                </button>
               
</form>
        
    </div>

    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"
            asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"
            asp-fallback-src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js">
    </script>
    


  <script type="text/javascript">

        $(document).ready(function () {
            $("#NewPswd1").hide();
            $("#NewPswd2").hide();
            $("#NewPswd1lb").hide();
            $("#NewPswd2lb").hide();
       });

        $('#login').submit(function (e) {
            var $this = $(this),
                $state = $this.find('button > .state');
            $this.addClass('loading');
            $state.html('Authenticating');

            

                setTimeout(function () {
                    $state.html('Log in');
                    $this.removeClass('ok loading');
                    working = false;

                }, 4000);
          
                Login1(e);
        });

        var Login1 = function (e)
        {
                        
            e.preventDefault();
            $('#Email').prop("disabled", false);
            $('#Password').prop("disabled", false);
            var data = $("#login").serialize();

            $.ajax({
                type: "Post",
                datatype: "json",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                data: data,
                xhrFields: {
                    withCredentials: true
                },
                url: '@Url.Action("HelloAjax","Account")',



                success: function (result, textstatus, xhr) {
                    if (result.flag == 1) {
                      //  alert(result.redirectURL + ' 1');
                        
                          window.location.replace("../Home/Index");

                    }
                    else if (result.flag == 2) {
                        //alert(xhr.status + ' 2');
                        $('#error').text(result.error);
                        $('#Email').prop("disabled", true);
                        $('#Password').prop("disabled", true);
                        $("#NewPswd1lb").show('slow');
                        $("#NewPswd2lb").show('slow');
                        $("#NewPswd1").show('slow');
                        $("#NewPswd2").show('slow');

                    }
                    else
                    {
                   ///     alert(result.status + ' 3');
                        //window.location.replace("/Account/Login");
                        $('#error').text(result.error);

                     }
                    return false;


                }

            });
            return false;
        };





    </script>
    <noscript>
        <b>No Javascript enabled.Please enable it!!!</b>
    </noscript>


</body>




</html>
