@model Db.Models.PostFile

<div>
    <h4>Εξαγωγη αρχείων</h4>
    <hr />
    <dl class=" center-block">
        <dt>
            Δημιουργήθηκε αρχείο διακανονισμών με αριθμό εγγραφών: @Html.DisplayFor(model => model.SettlementsCount)
        </dt>
        <dd>
          
        </dd>
        <dt>
            Δημιουργήθηκε αρχείο πληρωμών με αριθμό εγγραφών: @Html.DisplayFor(model => model.PaymentsCount)
        </dt>
        <dd>
          
        </dd>
    </dl>
</div>

